    <div class="header">
      <div class="container">
        <h1>threadly</h1>
      </div>
    </div>

    <div class="main">
      <div class="container">
        
        <%= form_for :post do |p| %>
        <%= p.text_field :comment, :placeholder => "share your thoughts" %>
        <%= p.submit "Post", class: 'btn' %><br>
        <% end %>

        
        <ul class="comments">
          <% @all_posts.each do |p| %>
          <li><%= p.comment %></li>
          <% end %>
        </ul>

      </div>
    </div>